%header.navbar.navbar-default.mixture-header
  .container-fluid
    .navbar-header
      = link_to 'Mixture items', root_path, class: 'navbar-brand'

      %ul.nav.navbar-nav
        %li{ class: "#{'active' if params[:controller] == 'materials'}" }= link_to 'Materials', materials_path
        %li{ class: "#{'active' if params[:controller] == 'items'}" }= link_to 'Items', items_path
        %li= link_to 'Recipes', '#'
        %li= link_to 'Important items', '#'
